.benefits {
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &__description {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-dark-grey;
  }
}
