.example {
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-dark-grey;
  }

  &__stats-info {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__stats-description {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $special-dark-grey;
  }

  &__food-costs {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__range {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
