.promo {
  &__content {
    background: url("/img/index-background-desktop2.jpg") no-repeat center;
    min-height: 302px;
    color: $white-color;
    text-align: center;

    @media (min-width: $tablet-width) {
      color: $black-color;
      background: none;
      text-align: start;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    min-width: 414px;
  }

  &__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__button {
    display: block;
    text-align: center;
    padding: 7px 44px;
    background-color: $green-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $white-color;

    @media (min-width: $tablet-width) {
      padding: 14px 26px;
      width: 244px;
    }
  }
}
