.promo {
  position: relative;

  @media (min-width: $tablet-width) {
    height: 852px;
  }

  @media (min-width: $desktop-width) {
    height: 649px;

    &::before {
      content: "";
      background-image: url("../img/index-background-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      width: 50%;
      height: 696px;
      position: absolute;
      right: 0;
      top: -127px;
      z-index: -2;
    }

    &::after {
      content: "";
      width: 50%;
      height: 696px;
      position: absolute;
      right: 0;
      top: -129px;
      z-index: -1;
      background-color: transparentize($green-color, 0.2);
    }
  }

  &__wrapper {
    background-image: url("/img/index-background-desktop2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
      @media (max-width: $mobile-width) {
        background-color: transparentize($green-color, 0.2);
      }

      @media (min-width: $tablet-width) {
        background-color: none;
      }
    }

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }


  &__content {
    color: $white-color;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 153px;

    @media (min-width: $tablet-width) {
      color: $black-color;
      background: none;
      text-align: start;
      padding: 42px 0 0 86px;
    }

    @media (min-width: $desktop-width) {
      padding: 1px 0 0 79px;
    }
  }

  &__image {
    position: absolute;
    top: 166px;

    @media (min-width: $tablet-width) {
      top: 245px;
      left: 114px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      left: 594px;
      top: 20px;
      z-index: 0;
    }

    img {
      @media (min-width: $tablet-width) {
        width: 619px;
        height: 612px;
      }

      @media (min-width: $desktop-width) {
        width: 511px;
        height: 493px;
      }
    }
  }

  &__title {
    font-family: $font-main;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 41px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 100px;
      margin-bottom: 40px;
    }
  }

  &__slogan {
    font-family: $font-main;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__button-block {
    padding-top: 152px;
    width: 280px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-left: 100px;
      margin-top: 40px;
    }
  }

  &__button {
    display: block;
    text-align: center;
    padding: 9px 0;
    background-color: $green-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $white-color;

    @media (min-width: $tablet-width) {
      padding: 18px 28px;
      width: 189px;
      margin-left: -18px;
      margin-top: 49px;
      font-size: 19px;
    }
  }
}
