$font-main: "Oswald", sans-serif;
$font-secondary: "Arial", sans-serif;

$green-color: #68b738;
$green-color2: #5EAA2F;
$black-color: #000000;
$white-color: #ffffff;
$basic-grey: #f2f2f2;
$special-grey: #e5e5e5;
$special-grey2: #eaeaea;
$special-grey3: #cdcdcd;
$special-grey4: #d9d9d9;
$special-dark-grey: #444444;
$special-grey-hover: #ebebeb;
