.main-nav {
  &__list {
    font-family: $font-main;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-style: normal;
    list-style: none;
  }

  &__list-item {
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $black-color;
  }
}
