.page-header {
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 174px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    outline: 5px solid rgba(255, 0, 0, 0.8);
    outline-offset: -5px;
  }

  &__title-logo {
    outline: 5px solid rgba(224, 186, 17, 0.8);
    outline-offset: -5px;
  }
}

.main-nav {
  &__toggle {
    outline: 5px solid rgba(255, 0, 212, 0.8);
    outline-offset: -5px;

    @media (min-width: $mobile-width) {
      display: none;
    }
  }

  &__list {
    font-family: $font-main;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-style: normal;
    list-style: none;
    display: none;

    @media (min-width: $mobile-width) {
      display: flex;
    }
  }

  &__list-item {
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $black-color;
  }
}
