.page-header {
  &__logo {
    width: 33px;
    height: 37px;

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
      margin-right: 94px;
      margin-top: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  .container {
    padding: 12px 20px;
  }

  &__top-b {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: auto;
    }
  }

  &__burger-button {
    background-color: $white-color;
    border: none;
    padding: 0px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__burger-icon--close {
    display: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      display: flex;
      height: 90px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0 15px 0;

    @media (min-width: $tablet-width) {
      flex-wrap: nowrap;
      padding-top: 28px;
    }
  }

  &__title-logo {
    @media (min-width: $tablet-width) {
      margin-left: 5px;
      display: none;
    }
  }
}

.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;

    @media (min-width: $desktop-width) {
      margin: 0;
      // width: 480px;
    }
  }

  &__list {
    font-family: $font-main;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-style: normal;
    list-style: none;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      margin-top: 17px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      margin-top: 0;
    }
  }

  &__list-item {
    font-weight: 500;
    padding: 15px 48px;
    border-top: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      padding: 0;
      border: none;
      margin-right: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 35px;
    }
  }

  &__list-item:last-of-type {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $black-color;

    &:not(.main-nav__link--active):hover {
      opacity: 0.6;
    }

    &:not(.main-nav__link--active):active {
      opacity: 0.3;
    }


    @media (min-width: $desktop-width) {
      color: $black-color;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      font-family: $font-main;
    }
  }

  &__link--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $green-color;
      padding-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $white-color;
    }
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: $black-color;
  box-shadow: 0 8px 0 0 $black-color, 0 16px 0 0 $black-color;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 22px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $black-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header--form {
  border-bottom: 2px solid $basic-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
