.contacts {
  display: flex;
  justify-content: space-between;

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__address {
    font-family: $special-dark-grey;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $special-dark-grey;
  }
}
